header{
    border: 4px solid rgba(128, 128, 128, 0.012);
   
    display: inline-block
}
h1{
    margin-right: 700px;
   
    display: inline;
    float:right ;
}

  
  
  
  .first_div{
border: 3px solid black;
  width: 200px; 
  height: 200px;
  dis
  }
  div.free{
    display: flex;
    justify-content: space-around;
    border: 5px solid black;
    background-color:grey;
  }

  div.fisrt_div{

    border: 2px solid black;
  background-color: beige;
  display: flex;
  justify-content: space-around;
  width: 200px;
  height: 200px;
 
 
  }
  div.fisrt_div div
  {
border: 2px solid black;
  }
  div.sec_div{
  
  border: 2px solid black;
  background-color: beige;
  display: inline-block;
  width: 200px;
  height: 200px;
  float: inline-start;
margin-left: 500px;

background-color:grey;
  
  }
  
    
 
  footer{
    border: 8px solid black;
    margin: 20px;
    text-align: center;
    font-size: large;
  }
  
  
  
